<div class="footer">
    <h2 class="footer-big-title">Code(sur)</h2>
    <div class="footer-1">
        <h2 class="footer-title">Usefully Links</h2>
        <div class="footer-social-media">
            <a href="/" class="footer-social-media-a"><i class="fa-brands fa-facebook"></i></a>
            <a href="/" class="footer-social-media-a"><i class="fa-brands fa-instagram"></i></a>
            <a href="/" class="footer-social-media-a"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    <div class="footer-2">
        <div class="footer-links">
            <div class="footer-links-part">
                <p class="footer-links-part-p">About Us</p>
                <a href="" class="footer-links-part-a">History</a>
                <a href="" class="footer-links-part-a">2023</a>
                <a href="" class="footer-links-part-a">Team</a>
            </div>
            <div class="footer-links-part">
                <p class="footer-links-part-p">Portafolio</p>
                <a href="" class="footer-links-part-a">Our Works</a>
                <a href="" class="footer-links-part-a">Tools</a>
                <a href="" class="footer-links-part-a">Help</a>
            </div>
            <div class="footer-links-part">
                <p class="footer-links-part-p">Contact</p>
                <a href="" class="footer-links-part-a">Contact us</a>
                <a href="" class="footer-links-part-a">rosanojuan65@gmail.com</a>
                <a href="" class="footer-links-part-a">+598097022849</a>
            </div>
        </div>
        <form class="footer-subscribe">
            <p class="footer-subscribe-p">Subscribe Now</p>
            <input type="text" class="footer-subscribe-input" placeholder="Email">
            <input type="submit" class="footer-subscribe-btn">
        </form>
    </div>
</div>