<div class="header">
    <div class="header-logo">
        <a href="/"><img src="images/logo.png" alt=""></a>
    </div>
    <div class="header-links">
        <a href="/" class="header-links-a">home</a>
        <a href="/about" class="header-links-a">about us</a>
        <a href="/portafolio" class="header-links-a">portafolio</a>
        <a href="/contact" class="header-links-a">contact</a>
    </div>
    <div class="header-btns">
        <button class="header-btns-btn" id="header-btns-close" onclick="abrirHeaderMenu()"><i class="fa-solid fa-x"></i></button>
        <button class="header-btns-btn show" id="header-btns-open" onclick="abrirHeaderMenu()"><i class="fa-solid fa-bars"></i></button>
    </div>
</div>
